<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap и иконки -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Локальные стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block style %}{% endblock %}
</head>
<body class="d-flex">
{% include 'main/_header.html' %}

<main class="container-fluid mt-4 mb-5">
    <div class="row justify-content-center"> <!-- Добавлено центрирование -->
        <section class="col-md-9 col-lg-10 px-4"> <!-- Удален ms-sm-auto -->
            {% block content %}{% endblock %}
        </section>
    </div>
</main>

<!-- Скрипты -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% block script %}{% endblock %}
</body>
</html>
