{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 dark-form" style="max-width: 400px; border-radius: 10px;">
        <h3 class="text-center mb-4 form-title">Регистрация</h3>
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3" novalidate>

            {{ form.csrf_token }}

            <div class="form-group position-relative">
                <i class="bi bi-person-badge input-icon"></i>
                {{ form.first_name(class="form-control", placeholder="Имя") }}
            </div>

            <!-- Фамилия -->
            <div class="form-group position-relative">
                <i class="bi bi-person-lines-fill input-icon"></i>
                {{ form.last_name(class="form-control", placeholder="Фамилия") }}
            </div>

            <!-- Логин -->
            <div class="form-group position-relative">
                <i class="bi bi-person-circle input-icon"></i>
                {{ form.username(class="form-control", placeholder="Логин") }}
            </div>

            <!-- Email -->
            <div class="form-group position-relative">
                <i class="bi bi-envelope input-icon"></i>
                {{ form.email(class="form-control", placeholder="Email") }}
            </div>

            <!-- Пароль -->
            <div class="form-group position-relative">
                <i class="bi bi-lock input-icon"></i>
                {{ form.password(class="form-control", placeholder="Пароль") }}
            </div>

            <!-- Подтверждение пароля -->
            <div class="form-group position-relative">
                <i class="bi bi-lock-fill input-icon"></i>
                {{ form.confirm_password(class="form-control", placeholder="Подтвердите пароль") }}
            </div>

            <button type="submit" class="btn form-btn">
                <i class="bi bi-person-check me-2"></i>Зарегистрироваться
            </button>

            <!-- Общие ошибки формы -->
            {% if form.errors %}
                <div class="text-danger mt-3">
                    <ul>
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li><strong>{{ field|capitalize }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="text-center mt-3">
                <p class="form-link">Уже есть аккаунт?
                    <a href="{{ url_for('user.login') }}"><i class="bi bi-box-arrow-in-right me-1"></i>Войти</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
